In [1]:
#Creating a empty dataframe.

import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
#Creating a DataFrame from list.

data = [1,2,3,4,5]

df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
data1 = ['a','b','c','d']

df = pd.DataFrame(data1)
print(df)

   0
0  a
1  b
2  c
3  d

In [6]:
#Creating a dataframe from dict of ndarray/list.

data = {'Name' :['Diksha','Dhiraj','Rashmi','Shreyash','Pranali'],'Marks':[40,50,60,70,80]}

In [7]:
df = pd.DataFrame(data)

print(df)

       Name  Marks
0    Diksha     40
1    Dhiraj     50
2    Rashmi     60
3  Shreyash     70
4   Pranali     80