In [ ]:
Numpy Continuation:

In [ ]:
Arithmetic operation in Numpy

In [1]:
import numpy as np

In [2]:
a = np.array([10,10,10])

b = np.array([5,5,5])

In [3]:
a+b

array([15, 15, 15])

In [4]:
a-b

array([5, 5, 5])

In [5]:
a*b

array([50, 50, 50])

In [6]:
a/b

array([2., 2., 2.])

In [7]:
a%b

array([0, 0, 0], dtype=int32)

In [8]:
a%3

array([1, 1, 1], dtype=int32)

In [9]:
a<b

array([False, False, False])

In [10]:
a<35

array([ True,  True,  True])

In [11]:
a>35

array([False, False, False])

In [ ]:
Squaring option:

In [12]:
a**2

array([100, 100, 100], dtype=int32)

In [14]:
a**3

array([1000, 1000, 1000], dtype=int32)

In [ ]:
req: To modify a value into 30

In [15]:
a *=3

In [16]:
a

array([30, 30, 30])

In [ ]:
req = To modify b value in to 35

In [17]:
b +=a

In [18]:
b

array([35, 35, 35])

In [ ]:
Unary Operator

In [19]:
ages = np.array([12,15,17,22,26,30])

In [ ]:
req: To find the total sum of the array

In [20]:
ages.sum()

122

In [ ]:
req: To find max and min value fromm the given array above...

In [21]:
ages.max()

30

In [22]:
ages.min()

12

In [23]:
numbers = np.arange(12).reshape(3,4)

In [24]:
numbers

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [25]:
numbers.shape

(3, 4)

In [ ]:
req: sum up each column

In [27]:
numbers.sum(axis=0)

array([12, 15, 18, 21])

In [ ]:
req: what if we wanted to calculate sum of each row.

In [29]:
numbers.sum(axis=1)

array([ 6, 22, 38])

In [ ]:
req: min value of each row.

In [30]:
numbers.min(axis=1)

array([0, 4, 8])

In [32]:
numbers.max(axis=0)

array([ 8,  9, 10, 11])

In [34]:
numbers.min(axis=0)

array([0, 1, 2, 3])

In [35]:
numbers.max(axis=1)

array([ 3,  7, 11])