In [ ]:
#LOOPING STATEMENT

In [ ]:
for loop

In [1]:
students = ['diksha','kiran','ravi','ram','neha', 'sham']
print(students)

['diksha', 'kiran', 'ravi', 'ram', 'neha', 'sham']

In [2]:
print(students)

['diksha', 'kiran', 'ravi', 'ram', 'neha', 'sham']

In [3]:
print(f"i will do the regular classes, {students[5]}")

i will do the regular classes, sham

In [4]:
print(f"i am watching a tv, {students[0]}")

i am watching a tv, diksha

In [11]:
for student in students:
    print(student)

diksha
kiran
ravi
ram
neha
sham

In [ ]:
req: to split student in students individually from a list

In [15]:
for x in students:
    print(x)

diksha
kiran
ravi
ram
neha
sham

In [ ]:
req: sending a appreciation  message:

In [16]:
for z in students:
    print(f"appreciate your work, keep up the same")

appreciate your work, keep up the same
appreciate your work, keep up the same
appreciate your work, keep up the same
appreciate your work, keep up the same
appreciate your work, keep up the same
appreciate your work, keep up the same

In [18]:
for z in students:
    print(f"appreciate your work, keep up the same {z}")

appreciate your work, keep up the same diksha
appreciate your work, keep up the same kiran
appreciate your work, keep up the same ravi
appreciate your work, keep up the same ram
appreciate your work, keep up the same neha
appreciate your work, keep up the same sham

In [28]:
for z in students:
    print(f"appreciate your work, keep up the same {z}")
    print(f"i am sending the practice files regularly {z}.\n")

appreciate your work, keep up the same diksha
i am sending the practice files regularly diksha.

appreciate your work, keep up the same kiran
i am sending the practice files regularly kiran.

appreciate your work, keep up the same ravi
i am sending the practice files regularly ravi.

appreciate your work, keep up the same ram
i am sending the practice files regularly ram.

appreciate your work, keep up the same neha
i am sending the practice files regularly neha.

appreciate your work, keep up the same sham
i am sending the practice files regularly sham.

In [29]:
for value in range(1,31):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
req: i want to get no from 1-21

In [31]:
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
req: print only even no from 1-10

In [34]:
even_num = list(range(2,10,2))
print(even_num)

[2, 4, 6, 8]

In [ ]:
odd number

In [37]:
odd_num = list(range(0,10))
print(odd_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]